{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Редактирование темы "{{ post['title'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Новое название</label>
        <input type="text" name="title" placeholder="Ввести"
               class="form-control"
               value="{{ request.form['title'] or post['title'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="content">Новый комментарий</label>
        <textarea name="content" placeholder="Ввести"
                  class="form-control">{{ request.form['content'] or post['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
<hr>
<form action="{{ url_for('delete', id=post['id']) }}" method="POST">
    <input type="submit" value="Удалить тему"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Удалить тему?')">
</form>
{% endblock %}